<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage Page</title>
</head>
<body>
    <h1>Homepage</h1>
    
    <%- include('./partials/script.ejs') %>
</body>
</html>